@{
  Layout="Shared/_Layout.cshtml";
}

<h1>List of CDs</h1>
  @foreach (var album in Model)
  {
    <h4>@album.GetTitle()</h4>
    <p> @album.GetArtist()</p>
  }

@* @if (Model.GetCount== 0)
{
  <p>We're sorry, but we’re out of stock!</p>
} *@
